<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.tgcloud.uac.repository.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.tiger.tgcloud.uac.model.domain.DepartmentInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="deptname" jdbcType="VARCHAR" property="deptname"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="parentid" jdbcType="BIGINT" property="parentid"/>
        <result column="sort" jdbcType="BIGINT" property="sort"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="update_operator" jdbcType="VARCHAR" property="updateOperator"/>
        <result column="update_operator_id" jdbcType="BIGINT" property="updateOperatorId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, deptname, status, description, parentid, sort, version, creator, creator_id, created_time,
        update_operator, update_operator_id, update_time
    </sql>
    <sql id="Base_Colunm_Where">
        <if test="deptname != null">
            and ${alias}.deptname = #{deptname,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and ${alias}.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="description != null">
            and ${alias}.description = #{description,jdbcType=VARCHAR}
        </if>
        <if test="parentid != null">
            and ${alias}.parentid = #{parentid,jdbcType=BIGINT}
        </if>
        <if test="version != null">
            and ${alias}.version = #{version,jdbcType=INTEGER}
        </if>
        <if test="creator != null">
            and ${alias}.creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="creatorId != null">
            and ${alias}.creator_id = #{creatorId,jdbcType=BIGINT}
        </if>
        <if test="createdTime != null">
            and ${alias}.created_time = #{createdTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateOperator != null">
            and ${alias}.update_operator = #{updateOperator,jdbcType=VARCHAR}
        </if>
        <if test="updateOperatorId != null">
            and ${alias}.update_operator_id = #{updateOperatorId,jdbcType=BIGINT}
        </if>
        <if test="updateTime != null">
            and ${alias}.update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <select id="selectByCondition" parameterType="com.tiger.tgcloud.uac.model.query.DepartmentParam"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uac_department u
        <where>
            <if test="deptname != null">
                and u.deptname = #{deptname,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and u.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="description != null">
                and u.description = #{description,jdbcType=VARCHAR}
            </if>
            <if test="parentid != null">
                and u.parentid = #{parentid,jdbcType=BIGINT}
            </if>
        </where>
        order by u.update_time desc
    </select>
</mapper>