<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.tgcloud.uac.repository.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.tiger.tgcloud.uac.model.domain.PermissionInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="permname" jdbcType="VARCHAR" property="permname"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="parentid" jdbcType="BIGINT" property="parentid"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="action" jdbcType="VARCHAR" property="action"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="update_operator" jdbcType="VARCHAR" property="updateOperator"/>
        <result column="update_operator_id" jdbcType="BIGINT" property="updateOperatorId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="isnavigate" jdbcType="INTEGER" property="isnavigate"/>
        <result column="isplugin" jdbcType="INTEGER" property="isplugin"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, permname, status, description, type, icon, sort, parentid, url, action, code, version,
    creator, creator_id, created_time, update_operator, update_operator_id, update_time,
    component, title, path, isnavigate, isplugin, name
  </sql>
    <sql id="Base_Colunm_Where">
        <if test="permname != null">
            and ${alias}.permname = #{permname,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and ${alias}.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="description != null">
            and ${alias}.description = #{description,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and ${alias}.type = #{type,jdbcType=INTEGER}
        </if>
        <if test="icon != null">
            and ${alias}.icon = #{icon,jdbcType=VARCHAR}
        </if>
        <if test="sort != null">
            and ${alias}.sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="parentid != null">
            and ${alias}.parentid = #{parentid,jdbcType=BIGINT}
        </if>
        <if test="url != null">
            and ${alias}.url = #{url,jdbcType=VARCHAR}
        </if>
        <if test="action != null">
            and ${alias}.action = #{action,jdbcType=VARCHAR}
        </if>
        <if test="code != null">
            and ${alias}.code = #{code,jdbcType=VARCHAR}
        </if>
        <if test="version != null">
            and ${alias}.version = #{version,jdbcType=INTEGER}
        </if>
        <if test="creator != null">
            and ${alias}.creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="creatorId != null">
            and ${alias}.creator_id = #{creatorId,jdbcType=BIGINT}
        </if>
        <if test="createdTime != null">
            and ${alias}.created_time = #{createdTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateOperator != null">
            and ${alias}.update_operator = #{updateOperator,jdbcType=VARCHAR}
        </if>
        <if test="updateOperatorId != null">
            and ${alias}.update_operator_id = #{updateOperatorId,jdbcType=BIGINT}
        </if>
        <if test="updateTime != null">
            and ${alias}.update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="component != null">
            and ${alias}.component = #{component,jdbcType=VARCHAR},
        </if>
        <if test="title != null">
            and ${alias}.title = #{title,jdbcType=VARCHAR},
        </if>
        <if test="path != null">
            and ${alias}.path = #{path,jdbcType=VARCHAR},
        </if>
        <if test="isnavigate != null">
            and ${alias}.isnavigate = #{isnavigate,jdbcType=INTEGER},
        </if>
        <if test="isplugin != null">
            and ${alias}.isplugin = #{isplugin,jdbcType=INTEGER},
        </if>
        <if test="name != null">
            and ${alias}.name = #{name,jdbcType=VARCHAR},
        </if>
    </sql>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        SELECT p.*
        FROM uac_permission p
            INNER JOIN uac_role_permission rp ON p.id = rp.permid
            LEFT JOIN uac_role r ON rp.roleid = r.id
        WHERE r.id = #{roleId,jdbcType=BIGINT}
    </select>

    <sql id="selectByUserIdBase">
        SELECT distinct p.*
        FROM uac_permission p
            INNER JOIN uac_role_permission rp ON p.id = rp.permid
            INNER JOIN uac_role r ON rp.roleid = r.id
            INNER JOIN uac_user_role ur ON r.id = ur.roleid
            INNER JOIN uac_user u ON u.id = ur.userid
    </sql>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <include refid="selectByUserIdBase"></include>
        WHERE u.id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        <include refid="selectByUserIdBase"></include>
        WHERE u.username = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectByCondition" parameterType="com.tiger.tgcloud.uac.model.query.PermissionParam"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM uac_permission u
        <where>
            <if test="permname != null">
                and u.permname LIKE CONCAT('%',#{permname},'%')
            </if>
            <if test="status != null">
                and u.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                and u.type = #{type,jdbcType=INTEGER}
            </if>
            <if test="url != null">
                and u.url = #{url,jdbcType=VARCHAR}
            </if>
        </where>
        order by parentid asc, u.update_time desc
    </select>

    <select id="selectMenuNode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM uac_permission
        WHERE type in (0,1)
    </select>
</mapper>